XMLParsers/src/main/resources/candy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CandyCollection">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Candy" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id">
                                <xs:simpleType id="ID">
                                    <xs:restriction base="xs:NCName"/>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element name="energy">
                                <xs:simpleType>
                                    <xs:restriction base="xs:short">
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="types">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" maxOccurs="unbounded" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="CHOCOLATE"/>
                                                    <xs:enumeration value="CANDYBARS"/>

                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="components">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="component" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:byte" name="amount" use="optional"/>
                                                        <xs:attribute type="xs:string" name="typeOfMeasure" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="value">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="proteins">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="fats">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="carbohydrates">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>